.left_nav{
    border-radius: 10px;
    background-color: white;
    width: 100%;
    padding: 7px;
}
.left_nav .left_nav_goback{
    background-color: #e8f2f9;
}
.left_nav .left_nav_goback a{
    height: 33px;
    line-height: 35px;
    font-size: 12px;
    color: #e7dbdb;
    border-radius: 50px;
}
.left_nav li.layui-nav-item:not(:first-child){
    border-radius: 50px;
    margin-top:7px ;
}
.left_nav li.layui-nav-item:hover a{
    background-color: rgb(219,239,252);
    border-radius: 50px;
}
.left_nav li.layui-nav-item a{
    color: #434D5B;
    font-weight: bold;
    border-radius: 50px;
}
.main_panel{
    width: 96%;
    margin: 16px auto;
}
.introduceShow{
    display: flex;
}
.layui-form-item .layui-form-label{
    width: 127px;
    text-align: left;
}
.introduceShow .nameShow{

}
.modify{
    display: none;
}
.buttonGroup{
    margin-top: 10px;
}
.layui-form-item .layui-input-block {
    margin-left: 157px;
}
/*修改密码的标题*/
.layui-form .layui-form-item .changePasswordTitle{
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
}
/*课程显示*/
.couser_panel ul{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.couser_panel ul li {
    width: 31%;
    border: #a0d6e5 solid 1px;
    box-shadow: #67b1d291 3px 3px;
    border-radius: 50px;
    margin-bottom: 20px;
}
.couser_panel ul li div{
    width: 90%;
    margin: 13px 40px;
}
.couser_panel ul li div span{
    height: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
}