*{
    margin: 0;
    padding: 0;
}
.grid-demo{
    padding: 10px;
    line-height: 50px;
    text-align: center;
    color: rgb(15, 14, 14);
    font-weight: 200;font-size: large;
    /* border: black solid 1px; */
    background-color: white;
}
.grid-demo-bg1{
    background-color: white;
    margin-left: 10px;
}
.grid-demo1{padding: 10px; line-height: 36px;   color: rgb(15, 14, 14);font-weight: 200;font-size: large;}
.fieldset{text-align: center}

.title-left{background-color:rgb(red, green, blue)}
.title-right{background-color:rgb(252, 239, 239)}

#name{color: blue;font-size: 23px;font-weight: 200;}
#achievement{color: blue;font-size: 23px;font-weight: 200;}

.choice_box{position: relative;}
.choice_question{position: absolute;bottom: 2px;}

#right{color: white;}
#false{color: white;}


#last{color: blue;font-size: 23px;font-weight: 200;}
#all{color: blue;font-size: 23px;font-weight: 200;}
#over{color: blue;font-size: 23px;font-weight: 200;}
.r_w{
    text-align: center;
}
.r_w>div{
    margin-bottom: 10px;
}
.layui-colla-content>div{
    margin-bottom: 17px;
}